{% extends 'base.html' %}
{% load static %}
{% block title %} Create Story {% endblock %}

{% block content %}
    <section class="ftco-section contact-section create-story">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="" method="POST" enctype="multipart/form-data" class="bg-light p-5 contact-form">
                        <a class="navbar-brand center" href="#">Stories<span>.</span></a>
                        {% csrf_token %}
                        {{form.non_field_errors}}


                        {% for field in form %}
                            <div class="form-group">
                                {{field}}
                                {{field.help_text}}
                                {{field.errors}}
                            </div>
                        {% endfor %}
                        <!-- <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <textarea rows="10" class="form-control" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="" id="">
                                    <option value="0">Select category</option>
                                    <option value="1">-----</option>
                                
                                </select>
                        </div>

                        <div class="form-group">
                            <input type="file">
                        </div> -->
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    
  {% endblock %}

  {% block js %}
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

  
  {% endblock %}