{% extends 'base.html' %}
{% load static %}
{% block title %} Recipes {% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_4.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Saved Recipes</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>Recipes <i
                        class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {% for recipe in recipes %}
                    <div class="col-md-6 col-lg-12 ftco-animate">
                        <div class="blog-entry d-lg-flex">
                            <div class="half">
                                <a href="{% url 'recipe_detail' recipe.slug %}" class="img d-flex align-items-end"
                                   style="background-image: url('{{recipe.image.url}}');">
                                    <div class="overlay"></div>
                                </a>
                            </div>
                            <div class="text px-md-4 px-lg-5 half pt-3">
                                <p class="meta d-flex"><span class="pr-3">{{recipe.category.title}}</span><span class="ml-auto pl-3">{{recipe.created_at|date:"F d, Y"}}</span>
                                </p>
                                <h3><a href="{% url 'recipe_detail' recipe.slug %}">{{recipe.title}} </a> <i onclick="save_article({{recipe.id}});" class="fa fa-paperclip" ></i></h3>
                                <p>{{recipe.short_description|truncatewords:"20"}}
                                </p>
                                <p class="mb-0"><a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">Read More <span
                                        class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sidebar-wrap">
                    <div class="sidebar-box p-4 about text-center ftco-animate">
                        <h2 class="heading mb-4">About Me</h2>
                        <img src="{% static 'images/author.jpg' %}" class="img-fluid" alt="Colorlib Template">
                        <div class="text pt-4">
                            <p>Hi! My name is <strong>Cathy Deon</strong>, behind the word mountains, far from the
                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in
                                Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        </div>
                    </div>
                    <div class="sidebar-box p-4 ftco-animate">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon icon-search"></span>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-box categories text-center ftco-animate">
                        <h2 class="heading mb-4">Categories</h2>
                        <ul class="category-image">
                            <li>
                                <a href="#" class="img d-flex align-items-center justify-content-center text-center"
                                   style="background-image: url(images/category-1.jpg);">
                                    <div class="text">
                                        <h3>Foods</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="img d-flex align-items-center justify-content-center text-center"
                                   style="background-image: url(images/category-2.jpg);">
                                    <div class="text">
                                        <h3>Lifestyle</h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="img d-flex align-items-center justify-content-center text-center"
                                   style="background-image: url(images/category-2.jpg);">
                                    <div class="text">
                                        <h3>Others</h3>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}


{% block js %}
    <script>
    function save_article(recipe_id){
        $.ajax({
            url: "{% url 'save_recipe' 12345 %}".replace('12345', recipe_id),
            method: 'GET',
            success: function(data){
                alert(data);
            }
        })
    }
    </script>

{% endblock %}