{% extends 'base.html' %}
{% load static  i18n %}
{% block title %} Reset Password {% endblock %}

{% block content %}
<!-- END nav -->
<section class="ftco-section contact-section register">
        <div class="container">
            <div class="row block-9 justify-content-center">
                <div class="col-md-6 order-md-last d-flex">
                    <form action="" method="POST" class="bg-light p-5 contact-form">
                        {% if validlink %}
                        <div class="form-group">
                            <h4 class="reset center">Reset your password</h4>
                            <h6 class="center">Please choose a new password to finish signing in.</h6>
                        </div>
                        {% csrf_token %}
                        {{form.non_field_errors}}
                        {% for field in form %}
                            <div class="form-group">
                                {{field}}
                                {{field.help_text}}
                                {{field.errors}}
                            </div>
                        {% endfor  %}
                        <div class="form-group center">
                            <input type="submit" value="Reset password" class="btn btn-primary py-3 px-5">
                        </div>
                        {% else %}
                        <h6 class="center">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h6>

                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </section>
    {% endblock %}