{% extends 'base.html' %}
{% from "helpers/blog_formhelpers.html" import render_field %}
{% block title %} Please Sign In{% endblock %}


{% block content %}

<div class="col-md-8">

    <form action="" method="post">
        {% if form_error_message %}
            <span style="color: red;">{{form_error_message}}</span>
        {% endif %}
        {{form.csrf_token}}
        <div class="form-group">
            {{render_field(form.username)}}
        </div>

        <div class="form-group">

            {{render_field(form.password)}}
        </div>



        <input type="submit" value="Sign Up">
        
    </form>

</div>

{% endblock %}