{% extends 'base.html' %}
{% from "helpers/blog_formhelpers.html" import render_field %}

{% block title %}
Contact with us
{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
            <div class="col-md-8">

        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                {{render_field(form.username)}}
        
            </div>

            <div class="form-group">
                {{render_field(form.email)}}
            </div>
            <div class="form-group">
                {{render_field(form.subject)}}
            </div>
            <div class="form-group">
                {{render_field(form.message)}}
            </div>
            

            <input type="submit" class="btn btn-primary" value="Send">
            

        </form>
    </div>
   

    {% endblock %}
