<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

        <form action="/create" method="post">
            <div class="form-group">
                <label >Title</label>
                <input class="form-control" type="text" name="title">
            </div>

            <div class="form-group">
                <label >Description</label>
                <textarea class="form-control" name="description" id="" cols="30" rows="10"></textarea>
            </div>
            
            <div class="form-group">
                <label >Owner name</label>
                <input class="form-control" type="text" name="owner_name">
                
            </div>
            

            <input type="submit" class="btn btn-primary" value="Yarat">
            

        </form>
    </div>
    {% include 'includes/sidebar.html' %}
        </div>
    </div>
</body>
</html>