{% extends 'base.html' %}
{% from "helpers/blog_formhelpers.html" import render_field %}

{% block title %}
Create New Blog
{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
            <div class="col-md-8">

        <form action="/create" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                {{render_field(form.title)}}
        
            </div>

            <div class="form-group">
                {{render_field(form.description)}}
            </div>

            <div class="form-group">
                {{render_field(form.image)}}
            </div>
            

            <input type="submit" class="btn btn-primary" value="Yarat">
            

        </form>
    </div>
   

    {% endblock %}
