{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1>
        
        {% for blog in blogs %}

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{blog.title}}</h2>
            <p class="card-text">{{blog.description}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{blog.created_at.strftime('%B %d, %Y')}} by
            <a href="#">{{blog.owner_name}}</a>
          </div>
        </div>
        {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

  {% endblock %}
