{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Page Heading
          <small>Secondary Text</small>
        </h1>

        
        
        {% for blog in blogs %}

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{blog.title}}</h2>
            <p class="card-text">{{blog.description}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{blog.created_at.strftime('%B %d, %Y')}} by
            
            <a href="#">{{ get_blog_user(blog.id)}}</a>
              {% if blog.user_id == current_user.id %}
                <a class="btn btn-success" href="">Update</a> 
              {% endif %}
          </div>
        </div>
        {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          {% if previous_page %}
          <li class="page-item">
            <a class="page-link" href="?page={{previous_page}}">&larr; Older</a>
          </li>
          {% endif %}
          {% for page in page_range %}
            <li class="page-item {% if page == current_page %} disabled {% endif %}">
              <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
          {% endfor %}
          {% if next_page %}
          <li class="page-item">
            <a class="page-link" href="?page={{next_page}}">Newer &rarr;</a>
          </li>
          {% endif %}
        </ul>

      </div>

  {% endblock %}
